<h1>Input karyawan baru</h1>
<hr>
<form action="/karyawan/proses-insert" method="post">
    <label>Nama lengkap</label>
    <input type="text" id="nama_lengkap" name="form_nama_lengkap" required>
    <br><br>

    <label>Gender</label>
    <br>
    <input type="radio" id="gender_l" name="form_gender" value="L" required>
    <label>Laki</label><br>

    <input type="radio" id="gender_p" name="form_gender" value="P" required>
    <label>Perempuan</label><br>
    <br>

    <label>Alamat</label>
    <textarea id="alamat" name="form_alamat" required></textarea>
    <br><br>

    <label>Nomor Induk Pegawai</label>
    <input type="text" id="nip" name="form_nip" required>
    <br><br>

    <label>Departemen</label>
    <select name="form_departemen" id="departemen" required>
        <option selected value="">-- pilih --</option>
        <% for( let i=0; i < dept.length; i++ ) { %>
            <option value="<%= dept[i].id %>"><%= dept[i].nama %></option>
        <% } %>
    </select>
    <br><br>

    <label>Agama</label>
    <select name="form_agama" id="agama" required>
        <option selected value="">-- pilih --</option>
        <% for( let i=0; i < agm.length; i++ ) { %>
            <option value="<%= agm[i].id %>"><%= agm[i].nama %></option>
        <% } %>
    </select>
    <br><br>

    <button type="submit">Simpan</button>
</form>
